button {
    border: none;
    padding: 15px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid $blue;
    color: $pink;
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    cursor: pointer;

    &.bg-pink,
    &.bg-blue {
        border: none;
    }

    &.small {
        padding: 0px 10px;
        width: auto!important;
        margin: 3px 0;
        font-size: 13px;
    }
}

.button-group {
    display: flex;
    column-gap: 15px;
    row-gap: 15px;

    button {
        margin-top: 0;
    }
}