button {
    border: none;
    padding: 15px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid $blue;
    color: $pink;
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    cursor: pointer;

    &.bg-pink,
    &.bg-blue {
        border: none;
    }

    &.small {
        padding: 0px 10px;
        width: auto!important;
        margin: 3px 0;
        font-size: 13px;
    }

    @media (max-width: 480px) {
        font-size: 14px!important;
    }
}

.button-group {
    display: flex;
    column-gap: 15px;
    row-gap: 15px;

    button {
        margin-top: 0;
    }
}

.btn-with-icon {
    position: relative;
    padding-left: 35px;

    

    &:before {
        content: '';
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 15px;
    }

    &.back {
        &:before {
            background-image: url('../img/back-blue.svg');
            width: 35px;
            height: 35px;
            top: 10px;
        }
    }

    &.settings {
        &:before {
            background-image: url('../img/cog-blue.svg');
            width: 35px;
            height: 35px;
            top: 8px;
        }
    }

    @media (max-width: 480px) {
        &:before {
            width: 25px!important;
            height: 25px!important;
            top: 13px!important;
            left: 5px!important;
        }
    }
}

