form {
    input {
        width: calc(100% - 30px);
        padding: 15px;
        border-radius: 10px;
        background-color: $darkgray;
        border: none;
        color: white;
        margin-top: 15px;

        &::placeholder {
            color: white;
        }

        &[type="submit"] {
            cursor: pointer;
            width: 100%;

            &+button {
                width: 100%;
                margin-left: 0;
                margin-top: 15px;
            }
        }

        &[type="checkbox"] {
            background-color: transparent;
            border: 2px solid $pink;
            appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 0;
            padding: 12px;
            margin-top: 0;

            &:checked {
                position: relative;

                &:before {
                    content: '';
                    background-image: url('../img/check.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 15px;
                    position: absolute;
                    left: 2px;
                    right: 0;
                    top: 5px;
                }
            }
        }
    }

    label {
        text-transform: uppercase;
        padding-left: 10px;
    }

    .checkbox-wrap {
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        margin-top: 20px;


        &:first-of-type {
            padding-top: 15px;
        }

        &:last-of-type {
            margin-top: 0px;
        }
    }

    .input-group {
        display: flex;
        column-gap: 15px;
        row-gap: 15px;
    }

    #preview {
        width: 0;
        height: 52px;
        border: none;
        border-radius: 7px;
        opacity: 0;
        object-fit: cover;

        &.show {
            width: 50px;
            opacity: 1;
        }
    }

    input[type="file"] {
        display: none;
    }

    .photo-upload {
        width: 100%;
        // padding: 15px;
        border-radius: 10px;
        background-color: $pink;
        border: none;
        color: black;
        font-weight: bold;
        margin-top: 15px;
        display: flex;
        align-items: center;
    }

    label[for="photo"] {
        @media (max-width: 600px) {
            font-size: 14px;
        }
        
    }

    .limit {
        margin: 20px 0;
    }

    .limit-amount {
        display: flex;
        align-items: center;

        .minus, .plus {
            color: white;
            font-weight: bold;
        }

        .amount {
            width: 25px;
            height: 25px;
            background-color: $pink;
            background: linear-gradient(138.45deg, #FF007A 25.68%, #00F0FF 74.11%);
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: bold;
            margin: 0 8px;
            text-align: center;
        }

        .glass-icon {
            margin-left: 20px;
        }

        .glass {
            text-transform: uppercase;
            font-weight: bold;
            margin-left: 10px;
        }
    }
}