@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
button {
  border: none;
  padding: 15px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid #00F0FF;
  color: #FF238D;
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
}

button.bg-pink, button.bg-blue {
  border: none;
}

button.small {
  padding: 0px 10px;
  width: auto !important;
  margin: 3px 0;
  font-size: 13px;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
}

.button-group button {
  margin-top: 0;
}

form input {
  width: calc(100% - 30px);
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(53, 53, 53, 0.5);
  border: none;
  color: white;
  margin-top: 15px;
}

form input::-webkit-input-placeholder {
  color: white;
}

form input:-ms-input-placeholder {
  color: white;
}

form input::-ms-input-placeholder {
  color: white;
}

form input::placeholder {
  color: white;
}

form input[type="submit"] {
  cursor: pointer;
  width: 100%;
}

form input[type="submit"] + button {
  width: 100%;
  margin-left: 0;
  margin-top: 15px;
}

form input[type="checkbox"] {
  background-color: transparent;
  border: 2px solid #FF238D;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 0;
  padding: 12px;
  margin-top: 0;
}

form input[type="checkbox"]:checked {
  position: relative;
}

form input[type="checkbox"]:checked:before {
  content: '';
  background-image: url("../img/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 15px;
  position: absolute;
  left: 2px;
  right: 0;
  top: 5px;
}

form label {
  text-transform: uppercase;
  padding-left: 10px;
}

form .checkbox-wrap {
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

form .checkbox-wrap:first-of-type {
  padding-top: 15px;
}

form .checkbox-wrap:last-of-type {
  margin-top: 0px;
}

form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
}

form #preview {
  width: 0;
  height: 52px;
  border: none;
  border-radius: 7px;
  opacity: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

form #preview.show {
  width: 50px;
  opacity: 1;
}

form input[type="file"] {
  display: none;
}

form .photo-upload {
  width: 100%;
  border-radius: 10px;
  background-color: #FF238D;
  border: none;
  color: black;
  font-weight: bold;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  form label[for="photo"] {
    font-size: 14px;
  }
}

form .limit {
  margin: 20px 0;
}

form .limit-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .limit-amount .minus, form .limit-amount .plus {
  color: white;
  font-weight: bold;
}

form .limit-amount .amount {
  width: 25px;
  height: 25px;
  background-color: #FF238D;
  background: linear-gradient(138.45deg, #FF007A 25.68%, #00F0FF 74.11%);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-weight: bold;
  margin: 0 8px;
  text-align: center;
}

form .limit-amount .glass-icon {
  margin-left: 20px;
}

form .limit-amount .glass {
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 10px;
}

.users .user {
  position: relative;
}

.users .user.online:before {
  content: '';
  position: absolute;
  left: -5px;
  top: -5px;
  background-color: #60FFB2;
  width: 15px;
  height: 15px;
  border-radius: 15px;
}

.users .user .user-left {
  display: inline;
}

.users .user .user-left .user-left-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 10px;
}

.users .user .user-left .user-left-inner * {
  width: 100%;
}

.users .user .user-left .user-left-inner p {
  margin: 0;
}

.users .user .user-name h2 {
  font-size: 18px;
}

.users .user .user-image {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  float: left;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  color: #00F0FF;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  position: relative;
}

input, button {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.bg-pink {
  background-color: #FF238D;
  color: black;
}

.bg-blue {
  background-color: #00F0FF;
  color: black;
}

.color-blue {
  color: #00F0FF;
}

.color-pink {
  color: #FF238D;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  margin-top: 25px;
}

ul li:first-of-type {
  margin-top: 0;
}

ul.checklist li {
  position: relative;
  padding-left: 35px;
}

ul.checklist li:before {
  content: '';
  background-image: url("../img/pink-check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 0;
}

.video-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}

.video-bg video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-bg:before {
  content: '';
  background-color: #090a6a87;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header {
  text-align: center;
  padding: 15px;
  z-index: 1;
}

@media (min-height: 860px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

main {
  margin-top: 100px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  z-index: 1;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 280px;
  position: relative;
  z-index: 1;
}

footer {
  position: relative;
  z-index: 1;
}

section {
  margin: 15px;
  border: 2px solid #FF238D;
  border-radius: 12px;
  padding: 15px;
}

section-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-icon {
  width: 100%;
  height: auto;
  max-width: 28px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid rgba(255, 35, 141, 0.2);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section-header .section-title {
  margin-left: 10px;
}

section-footer .button-group {
  padding: 0px 15px;
}

.text-center {
  text-align: center;
}

.tenor-gif-embed {
  border-radius: 14px;
}

.amount-of-glasses {
  background: -webkit-gradient(linear, left top, right top, color-stop(1.42%, #23F2FF), to(#FF007A));
  background: linear-gradient(90deg, #23F2FF 1.42%, #FF007A 100%);
  border-radius: 11px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  position: relative;
}

.amount-of-glasses .amount {
  width: 100%;
}

.amount-of-glasses .amount p {
  margin-top: 0;
}

.amount-of-glasses #amount,
.amount-of-glasses #limit {
  background: transparent;
  border: none;
  color: white;
  width: 15px;
}

.amount-of-glasses .plusminus-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.amount-of-glasses .finished {
  -webkit-transition: all 200ms;
  transition: all 200ms;
  opacity: 0;
  border-radius: 100px;
  font-size: 60px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.2);
  mix-blend-mode: overlay;
  width: 85px;
  height: 85px;
  position: absolute;
  top: 70px;
  pointer-events: none;
}

.amount-of-glasses .finished .finished-check {
  width: 50px;
  height: auto;
  mix-blend-mode: overlay;
}

.amount-of-glasses .finished.show {
  opacity: 1;
}

.amount-of-glasses .finished.enough {
  position: relative;
  top: unset;
}

.amount-of-glasses .minus, .amount-of-glasses .plus {
  border-radius: 100px;
  font-size: 60px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.2);
  mix-blend-mode: overlay;
  width: 85px;
  height: 85px;
  color: #FFF;
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.amount-of-glasses .minus.hide, .amount-of-glasses .plus.hide {
  opacity: 0;
  pointer-events: none;
}

.amount-of-glasses .plus {
  margin-left: 15px;
}

.amount-of-glasses * {
  font-size: 22px;
}

.uppercase {
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */